In [4]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
for num in range (10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [14]:
list2=[10, 20, 14, 55, 43, 87, 76]
print(list2)
print("Number of item in the List2:",len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2: 7

In [17]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [21]:
tuples=(1, 'Welcome', 2, 'Hope')
print(tuples)

(1, 'Welcome', 2, 'Hope')

In [23]:
tuples1=(0, 1, 2, 3)
tuples2=('python', 'HOPE')
tuples3=(tuples1,tuples2)
print(tuples3)

((0, 1, 2, 3), ('python', 'HOPE'))